# Prerequisites
*.d

# Venv Script file
/Scripts

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
Lib/

# Executables
*.exe
*.out
*.app

# Spec files
*.spec

# Python Build files
dist/
build

# Python cache files
__pycache__/

# Notage files
*.note

# Cache File by bitbuild 
*.cache.txt

# Current task
current_task

# Shared files
/share